<div *ngIf="(tablink$ | async) == '11'">
  url为11
</div>
<div *ngIf="(tablink$ | async) == '22'">url为22</div>
<div *ngIf="(tablink$ | async) == '33'">url为33</div>
<div *ngIf="(tablink$ | async) == '44'">url为44</div>
<div *ngIf="(tablink$ | async) == '55'">url为55</div>
<app-swiper [sliders]="sliders"></app-swiper>
<app-horizontal-grid>
  <div class="add" appGridItem *ngFor="let item of channels">
    <img appGridItemImage [imageSize]="'2rem'" [src]="item.icon" alt="" />
    <span appGridItemTitle>{{ item.title }}</span>
  </div>
</app-horizontal-grid>

<!-- routerLink为跳转表示 -->
<a [routerLink]="['grand']">跳转</a>
<!-- routerLinkActive 如果是当前路由 css类名 就会生效 -->
<!-- [queryParams]="{ data: 1111, dddd: 22 }" -->
<a [routerLink]="['grand']" routerLinkActive="router_active">name</a>
<!--  -->
<a [routerLink]="[{ outlets: { zore: ['aux'] } }]">同级容器</a>

<!-- 主要插座 -->
<router-outlet></router-outlet>
<!-- 具名插座 -->
<router-outlet name="zore"></router-outlet>
