<ul class="header_con">
  <li class="item" *ngFor="let item of tabs; let index = index; let first = first; let last = last; let even = even; let odd = odd">
    <a
      href="#"
      [class.active]="index === selectId"
      [class.first]="first"
      [class.last]="last"
      [class.odd]="odd"
      [class.even]="even"
      (click)="toggleSelect(index)"
      >{{ item.title }}</a
    >
    <span class="label" *ngIf="index === selectId"></span>
    <!-- <ng-template #noselectId>
      <span>nihao</span>
    </ng-template> -->
    <div [ngStyle]="{ color: 'white' }">\</div>
    <div [ngClass]="{ aaaaa: true }"></div>
  </li>
</ul>
<!-- 插槽 -->
<!-- <ng-content></ng-content> -->
